.page-header {
    background: url(../../img/bike-img.jpg) no-repeat center;
    height: 825px;
    background-color: $black;
    background-position: 50% 0;
    background-size: cover;

    @media (min-resolution: 2dppx) {
        background-image: url("../../img/bike-img@2x.jpg");
    }
}

.page-header__nav {
    padding: 20px 52px 0 36px;

}

.page-header__list {
    list-style: none;
    margin: 0;
    padding: 0;



    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    position: relative;
    &::after {
        content: "";
        position: absolute;
        height: 2px;
        width: 84%;
        background-color: $opacity-white;
        bottom: -11px;
        left: 90px;
    }

}

.page-header__item {
    width: 25%;
    text-align: center;
}

.page-header__link {

    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
    color: $white;
    opacity: 0.7;
    text-align: center;
    text-decoration: none;
    

    &:hover {
        transition: 0.3s;
        opacity: 0.4;
    }

    &:active {
        opacity: 0.2;
    }
}

@media (max-width: $desktop-width) {
    .page-header {
        background-image: url(../../img/bike-img-tab.jpg);
        height: 340px;
        @media (min-resolution: 2dppx) {
            background-image: url("../../img/bike-img-tab@2x.jpg");
        }
    }

    .page-header__nav {
        display: none;
    }

}  

@media (max-width: $tablet-width) {
    .page-header {
        background-image: url(../../img/bike-img-mob.jpg);
        height: 390px;
        @media (min-resolution: 2dppx) {
            background-image: url("../../img/bike-img-mob@2x.jpg");
        }
    }
}